
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #b3eac3;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}


.login-box {
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 350px;
  overflow: hidden;
}


.login-header {
  background-color: #4caf50; 
  padding: 15px;
}

.login-header h2 {
  margin: 0;
  color: white;
  font-size: 24px;
}


.input-container {
  display: flex;
  align-items: center;
  margin: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  overflow: hidden;
  background-color: rgb(66, 144, 66);

}

.icon {
  font-size: 20px;
  color: #888;
 
  
}

.login-input {
  border: none;
  outline: none;
  flex: 1;
  padding: 10px;
  font-size: 16px;
  background-color: white;
  color: black;
}


.forgot-password {
  display: block;
  margin: 10px 0;
  color: #409643;
  text-decoration: none;
  font-size: 14px;
 
}

.forgot-password:hover {
  text-decoration: underline;
}


.login-button {
  background-color: #4caf50; 
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
  width: 90%;
  margin: 15px 0;
}

.login-button:hover {
  background-color: #45a049;
}


.signup-section {
  margin: 10px 0;
  font-size: 14px;
  color: #888;
}

.signup-link {
  color: #4caf50;
  text-decoration: none;
  font-weight: bold;
}

.signup-link:hover {
  text-decoration: underline;
}
